@media (max-width: 480px) {



    .main_header {

        padding: 9px 4%;
    }


    .home_page_card_div {
        width: 100%;
    }

    .home_page_card {
        width: 70%;
        height: 170px;
    }

    .home_cards_img_2,
    .home_cards_img_4,
    .home_cards_img_5 {
        width: 400px;
        height: 200px;

    }


    .artwork_Sort_box_p {
        font-size: 24px;
    }


    .artworks_section_p {
        font-size: 32px;
    }


    .artwork_All_Category_div_p {
        font-size: 32px;
    }

    .dissapear2 {
        display: none;
    }

    .artworks_cards {
        gap: 24px;
    }

    .artwork_buttons_style,
    .artwork_button_style_active {
        width: 32px;
        height: 32px;
    }



    .home_section_p {
        width: 90%;
    }



    .homepage_latest_products_images_div {

        flex-direction: column;
        gap: 25px;
    }

    .button_fa-angles-left,
    .button_fa-angles-right {
        display: none;
    }

    .button_viewmore {
        display: block;
    }

    .homepage_section_Earthly_Artistry_first_title {
        font-size: 32px;
    }

    .homepage_section_Earthly_Artistry_div {

        margin: auto;
        gap: 28px;
    }

    .homepage_section_Earthly_Artistry_bottom_text {
        height: 200px;

    }

    .homepage_Subscribe_h1 {
        font-size: 32px;
    }




}

@media (max-width: 400px) {


    .artworks_section_p {
        font-size: 26px;
    }

    .artwork_search_input {
        font-size: 10px;

    }



    .section_our_gallery_cards {
        padding: 80px 0px;
    }

    .home_cards_img_2,
    .home_cards_img_4,
    .home_cards_img_5 {
        width: 370px;
        height: 220px;

    }

    .home_cards_img_5 {
        width: 300px;
        height: 220px;

    }

    .artworks_section_button {
        font-size: 15px;
    }

    .search_for_anything_div {
        width: 100%;
    }

    .homepage_Subscribe_to_Newsletter {
        height: 200px;
    }

    .SUBSCRIBE_button {

        height: 48px;
        padding: 13px 25px 13px 26px;
        font-size: 18px;
    }

}

@media (max-width: 320px) {}