.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    border: 2px solid red;
}

/* main_header */

.main_header {
    width: 100%;
    padding: 26px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur (5px);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

/* left_side */

.fa-bars {
    display: none;
}


.main_header_nav {

    width: 25%;
    border: 5px solid red;
}

.main_header_ul {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main_header_li {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.main_header_li_active {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* home_title */

.home_title_div {
    width: 31.5%;
    border: 5px solid red;
  



}

.home_title {
    display: flex;
    justify-content: center;

}

.home_title_div_1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_title_div_2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* right_side */

.main_header_right_side {


    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid red;

}

.main_header_right_side_button {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

}

.shopping_button {
    color: white;
    border: none;

}


/* home_section */

.home_section {

    height: 720px;
    background-image: url("../images/cover1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.home_section_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.home_section_p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    width: 50%;

}



.home_section_button {

    width: 30%;
    height: 56px;
    padding: 19px 0px 18px 0px;
    border-radius: 10px;
    border: 2px solid #D5906E;
    margin-top: 60px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
   
}


/* home_page_cards */

.home_page_cards {
    height: 437px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.home_page_card {
    width: 190px;
    height: 160px;
    border-radius: 70px;
}

.home_page_card_p {
    color: #B53B1B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}


/* home_figure_cards */

.home_figure_cards {

    height: 100%;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;



}



.home_figure_figcaption {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_cards_columns_div {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
    background-color: #B53B1B;
}

.home_cards_img_1{
    width: 680px;
    height: 322px;
}
.home_cards_img_2{
    width: 440px;
    height: 322px;
}
.home_cards_img_3{
    width: 315px;
    height: 260px;
}
.home_cards_img_4{
    width: 315px;
    height: 260px;
}
.home_cards_img_5{
    width: 440px;
    height: 260px;
}




/* artworks */

.main_header_artworks_li_active {
    color: #D5906E;

}


.artworks_section {
    height: 560px;
    background-image: url("../images/artwork\ cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artworks_section_p {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
}

.artworks_section_button {
    display: flex;
    width: 311px;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D5906E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.main_header_contact_li_active {
    color: #D5906E;
}