.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    border: 2px solid red;
}

/* main_header */

.main_header {
    width: 100%;
    padding: 26px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur (5px);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

/* left_side */

.fa-bars {
    display: none;
}


.main_header_nav {

    width: 25%;

}

.main_header_ul {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main_header_li,
.main_header_li_active,
.main_header_artworks_li_active,
.main_header_contact_li_active {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.main_header_li_active,
.main_header_artworks_li_active,
.main_header_contact_li_active {
    color: #D5906E;

}

/* home_title */

.home_title_div {
    width: 31.5%;

}

.home_title {
    display: flex;
    justify-content: center;

}

.home_title_div_1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_title_div_2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home_title_div:hover {
    filter: drop-shadow(10px 10px 20px white)
}

/* right_side */

.main_header_right_side {


    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.main_header_right_side_button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: transparent;

}

.shopping_button {
    color: white;
    border: none;

}


/* home_section */

.home_section {

    height: 720px;
    background-image: url("../images/cover1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.home_section_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.home_section_p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    width: 50%;

}



.home_section_button {

    width: 30%;
    height: 56px;
    padding: 19px 0px 18px 0px;
    border-radius: 10px;
    border: 2px solid #D5906E;
    margin-top: 60px;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;


}


/* home_page_cards */

.home_page_cards {
    height: 437px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #ecd1b5;
}

.home_page_card {
    width: 190px;
    height: 160px;
    border-radius: 70px;
}

.home_page_card_p {
    color: #B53B1B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}


/* home_figure_cards */

.home_figure_cards {

    height: 100%;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;



}



.home_figure_figcaption {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_cards_columns_div {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.home_cards_img_1 {
    width: 680px;
    height: 322px;
}

.home_cards_img_2 {
    width: 440px;
    height: 322px;
}

.home_cards_img_3 {
    width: 315px;
    height: 260px;
}

.home_cards_img_4 {
    width: 315px;
    height: 260px;
}

.home_cards_img_5 {
    width: 440px;
    height: 260px;
}

/* latest_products */

.homepage_latest_products_section_div {

    padding: 160px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecd1b5;
}

.homepage_latest_products_p {
    color: #402101;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;

}

.homepage_latest_products_images_div {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   

}

.latest_products_div1 {
    background-image: url("../images/latest_products1.png");
}

.latest_products_div2 {
    background-image: url("../images/latest_products2.png");
}

.latest_products_div3 {
    background-image: url("../images/latest_products3.png");
}

.latest_products_div4 {
    background-image: url("../images/latest_products4.png");
}

.latest_products_div1,
.latest_products_div2,
.latest_products_div3,
.latest_products_div4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 315px;
    height: 260px;
    display: flex;
    align-items: end;
}



.latest_products_p_cost {
    color: #B53B1B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-left: 5px;
}


.button_fa-angles-left,
.button_fa-angles-right
 {
    width: 44px;
    height: 44px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #B53B1B;
}

.homepage_section_Earthly_Artistry {
    width: 90%;
    margin: 160px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage_section_Earthly_Artistry_first_title {
    color: #402101;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homepage_section_Earthly_Artistry_div {
    display: flex;
    margin: 50px;
    gap: 10px;

}

.homepage_section_Earthly_Artistry_h2 {
    color: #B53B1B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homepage_section_Earthly_Artistry_p {
    color: #402101;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homepage_section_Earthly_Artistry_bottom {
    align-items: center;
}

.homepage_section_Earthly_Artistry_bottom_text {
    color: #402101;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homepage_section_Earthly_Artistry_button {
    margin-top: 20px;
    display: inline-flex;
    padding: 14px 52px 13px 52px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #B53B1B;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

._section_Earthly_Artistry {
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
}

/* footer */

.footer {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 200px;
    background-color: #402101;

}




.footer_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.footer_right_side {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.footer_contact_style {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_socialmedia {
    display: flex;
    gap: 15px;
    width: 24px;
    height: 24px;
}









/* artworks */

.artworks_section {
    height: 560px;
    background-image: url("../images/artwork\ cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artworks_section_p {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
}

.artworks_section_button {
    display: flex;
    width: 311px;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D5906E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}