.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;

}

/* HOME PAGE-1 */

/* main_header */

.main_header {
    max-width: inherit;
    width: inherit;
    padding: 26px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur (5px);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.main_header:hover {
    box-shadow: inset 10px 10px 10px #D5906E;

}

/* left_side */

.fa-bars {
    display: none;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;

}

.fa-xmark {
    display: none;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;

}



.main_header_ul {

    display: flex;
    column-gap: 60PX;

}

.main_header_li,
.main_header_li_active,
.main_header_artworks_li_active,
.main_header_contact_li_active {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



.main_header_li:hover,
.main_header_right_side_button:hover,
.shopping_button:hover {
    color: #D5906E;
}



.main_header_li_active,
.main_header_artworks_li_active,
.main_header_contact_li_active {
    color: #D5906E;

}

/* home_title */

/* .home_title_div {
    width: 31.5%;


} */

.home_title {
    display: flex;
    align-items: center;
}

.home_title_1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_title_2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home_title_div_1:hover,
.home_title_div_2:hover {
    font-size: 42px;

}



/* right_side */

.main_header_right_side {



    display: flex;
    column-gap: 16px;
    align-items: center;




}

.main_header_right_side_button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    background: transparent;


}

.shopping_button {
    color: white;
    border: none;


}


/* home_section */

.home_section {
    height: 720px;
    background-image: url("../images/cover1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.home_section_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    /* background-color: aqua; */
}

.home_section_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;


}

.home_section_p {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    width: 50%;



}



.home_section_button {

    margin-top: 60px;
    width: 311px;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D5906E;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;



}

.home_section_button:hover {
    border: 2px solid #D5906E;
    background-color: #D5906E;
    transition: 2s linear;
    box-shadow: 10px 10px #D5906E;
    border-color: white;
}

/* home_page_cards */

.home_page_cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 60px; */
    margin: 160px;
}

.home_page_card_div {
    width: 20%;
    text-align: center;
}

.home_page_card {
    width: 100%;
    height: 200px;
    border-radius: 70px;
}

.home_page_card_p {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}


/* home page - Our Gallery */

/* .section_our_gallery_cards {

    height: 100%;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;



}



.section_our_gallery_h2 {
    color: #FFF;
    font-family: 'Inter', sans-serif; 
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.home_cards_columns_div {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
   

}

.home_cards_img_1 {
    width: 680px;
    height: 322px;

}

.home_cards_img_2 {
    width: 440px;
    height: 322px;
}

.home_cards_img_3 {
    width: 315px;
    height: 260px;
}

.home_cards_img_4 {
    width: 315px;
    height: 260px;
}

.home_cards_img_5 {
    width: 440px;
    height: 260px;
} */


.section_our_gallery_cards {

    background-color: #402101;
    padding: 96px 10%;
}

.section_our_gallery_h2 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.home_cards_columns_div {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 40px;
    border: 2px solid white;


}

.home_cards_columns_div img {
    object-fit: cover;
}

.home_cards_columns_div_top,
.home_cards_columns_div_bottom {
    display: flex;
    justify-content: space-between;
}

.home_cards_img_1 {

    width: 56%;
    height: 322px;
}

.home_cards_img_2 {

    width: 40%;
    height: 322px;
}

.home_cards_img_3,
.home_cards_img_4,
.home_cards_img_5 {

    width: 30%;
    height: 260px;

}

/* latest products */

.homepage_latest_products_section_div {

    padding: 160px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecd1b5;
}

.homepage_latest_products_p {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;

}

.homepage_latest_products_images_div {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;



}


.latest_products_div1 {
    background-image: url("../images/latest_products1.png");
}

.latest_products_div2 {
    background-image: url("../images/latest_products2.png");
}

.latest_products_div3 {
    background-image: url("../images/latest_products3.png");
}

.latest_products_div4 {
    background-image: url("../images/latest_products4.png");
}

.latest_products_div1,
.latest_products_div2,
.latest_products_div3,
.latest_products_div4 {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 315px;
    height: 260px;
    display: flex;
    align-items: end;
    transition: all 1s linear;
}

.latest_products_div1:hover,
.latest_products_div2:hover,
.latest_products_div3:hover,
.latest_products_div4:hover,
.homepage_latest_products_p:hover,
.button_fa-angles-left:hover,
.button_fa-angles-right:hover {
    box-shadow: 10px 15px 5px brown;
    transform: scale(1.2);
}



.latest_products_p_cost {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-left: 5px;
}


.button_fa-angles-left,
.button_fa-angles-right {
    width: 44px;
    height: 44px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #B53B1B;
}

.button_viewmore {
    display: none;
    padding: 15px 32px 14px 31px;
    border-radius: 10px;
    background: #B53B1B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-top: 50px;
}

/* Subscribe to Newsletter */

.homepage_Subscribe_to_Newsletter {
    background-image: url("../images/home-email-cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage_Subscribe_h1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}







.Email_Address_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-top: 50px;
    box-shadow: inset 10px 15px 10px transparent;


}

.Email_Address_input {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    outline: none;
    width: 60%;

}

.Email_Address_div:hover {
    background-color: white;
}

.SUBSCRIBE_button {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 56px;
    padding: 17px 26px 17px 25px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: #FFF;

}

.SUBSCRIBE_button:hover {

    background-color: #D5906E;
    transition: 1s linear;
    border-color: white;
}

/* homepage_section_Earthly_Artistry */
.homepage_section_Earthly_Artistry {
    width: 90%;
    margin: 160px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage_section_Earthly_Artistry_first_title {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.homepage_section_Earthly_Artistry_div {
    display: flex;
    gap: 15px;


}

.homepage_section_Earthly_Artistry_h2 {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 1;
}

.homepage_section_Earthly_Artistry_p {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.homepage_section_Earthly_Artistry_bottom_text {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 15px;


}

.homepage_section_Earthly_Artistry_button {
    margin-top: 20px;
    display: inline-flex;
    padding: 14px 52px 13px 52px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #B53B1B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

._section_Earthly_Artistry {
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
    transition: 1s;
}

._section_Earthly_Artistry:hover,
.homepage_section_Earthly_Artistry_button:hover {
    box-shadow: -3px -3px 3px 3px brown,
        3px 3px 3px 3px brown;
}

/* footer */

.footer {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 100px;
    background-color: #402101;

}

.footer_title_div {
    width: 31.5%;


}

.footer_title {
    display: flex;
    justify-content: center;
    align-items: center;



}

.footer_title_div_1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.footer_title_div_2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.footer_title_div_1:hover,
.footer_title_div_2:hover {

    font-size: 42px;


}


.footer_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.footer_right_side {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;





}



.footer_left_side_p:hover,
.fa-phone:hover,
.fa-envelope:hover,
.fa-location-dot:hover,
.footer_contact_style_div:hover,
.footer_contact_style:hover {
    color: orange;
}


.footer_contact_style {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_socialmedia {
    display: flex;
    gap: 30px;
    width: 24px;
    height: 24px;
}



/* artworks page-2 */

/* artworks */

.artworks_section {
    height: 560px;
    background-image: url("../images/artwork\ cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.artworks_section_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.artworks_section_p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.artworks_section_button {
    display: flex;
    width: 25%;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D5906E;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;



}

.artworks_section_button:hover {
    box-shadow: -5px -5px 5px 5px #D5906E, 5px 5px 5px 5px #d3b09f;
}

/* All Category */



.artworks_section_search_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    row-gap: 65px;
    padding: 64px 0;


}

.artwork_select {

    width: 60%;
    display: flex;

    justify-content: space-between;

}

.search_for_anything_div {
    display: flex;
    width: 50%;
    height: 56px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #402101;

}

.selection {

    /* width: 25%; */
    border: none;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.artwork_search_input {
    width: 70%;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    border: none;
    outline: none;

}





.artwork_search_button {
    display: flex;
    width: 40%;
    height: 56px;
    padding: 17px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: #402101;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.artwork_search_button:hover {
    background-color: #D5906E;
    transition: 1s linear;
    border-color: white;
}

.artwork_All_Category_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c9935e;


}



.artwork_All_Category_div_p {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.artwork_Sort_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;





}

.artwork_Sort_box_p {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.artwork_Sort_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    border: none;
    background-color: transparent;
}

.fa-arrow-up,
.fa-arrow-down {
    font-size: 18px;
    color: #402101;
}

/* artworks_cards */

.artworks_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

}


.artworks_cards_figure1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}






.artworks_cards_text {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.artworks_cards_div {

    display: flex;
    justify-content: space-between;



}



.artworks_cards_p {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-cart-plus {
    color: #402101;
    font-size: 24px;
}

.artworks_cards_button {
    border: none;
    background-color: transparent;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

/* artwork_buttons */

.artwork_buttons {
    display: flex;
    background-color: #B53B1B;

}

.artwork_buttons_style:hover {
    background-color: #c38474;
}

.artwork_buttons_style,
.artwork_button_style_active {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 5px 10px 5px 11px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #B53B1B;
}

.artwork_button_style_active {
    background-color: #B53B1B;
}


/* contact page-3 */


.contact_section {

    background-image: url("../images/contact-cover.png");
    height: 720px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 208px;
    padding-left: 240px;
}


/* contact_section_box */

.contact_section_box {
    width: 50%;
    height: 400px;
    background-color: #D5906E;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(64, 33, 1, 0.73);
    box-shadow: -1px -1px 4px 0px #FFF;
    background-color: transparent;

}

.contact_section_box:hover {
    box-shadow: 10px 10px brown;
}

.contact_section_box_h2 {
    width: 100%;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* contacs page username */

.name_email_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: transparent;


}

.input_name,
.input_email {
    padding: 11px 10px 12px 8px;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    width: 40%;

}

.textarea_submit_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.textarea_message {

    height: 120px;
    /* padding: 8px 372px 71px 8px; */
    border-radius: 10px;
    border: 2px solid #FFF;
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    resize: none;

}

.textarea_message:hover,
.input_name:hover,
.input_email:hover {
    background-color: white;
}

.submit_button {
    width: 40%;
    height: 56px;
    padding: 19px 42px 18px 43px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    height: 56px;
    justify-content: center;
    border-radius: 10px;
    background: #D5906E;
    border: none;
    margin-top: 20px;
}


.submit_button:hover {
    background-color: brown;
}


/* contact_page_information */

.contact_page_information {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B53B1B; */
    width: 62%;
    margin: 160px auto;
    background: rgba(213, 144, 110, 0.30);


}

.contact_page_information_title {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
    text-align: center;

}

.contact_page_information_div {
    /* width: 80%; */
    display: flex;
    /* justify-content: center;
    align-items: flex-start;
    gap: 20px; */
    justify-content: space-between;


}

.contact_page_contact_information_list {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-right: 120px; */
}

.contact_page_information_list_p {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact_page_contact_style {
    color: #623932;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contact_page_iframe {
    width: 70%;
    height: 320px;
}