.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    border: 2px solid red;
}

/* main_header */

.main_header {
    width: 100%;
    padding: 26px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur (5px);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid red;
}

/* left_side */

.fa-bars {
    display: none;
}


.main_header_nav {

    width: 25%;
    border: 5px solid red;

}

.main_header_ul {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main_header_li {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.main_header_li_active {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* home_title */

.home_title_div {
    width: 35%;
    border: 5px solid red;

}

.home_title {
    display: flex;
}

.home_title_div_1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home_title_div_2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* right_side */

.main_header_right_side {


    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(213, 144, 110, 0.52);
    border: 5px solid red;
}

.main_header_right_side_button {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

}

.shopping_button {
    color: white;
    border: none;

}


/* home_section */

.home_section {

    height: 720px;
    background-image: url("../images/cover1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.home_section_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.home_section_p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;

}

.home_section_div {

    width: 50%;

}

.home_section_button {
    
    width: 30%;
    height: 56px;
    padding: 19px 0px 18px 0px;
    border-radius: 10px;
    border: 2px solid #D5906E;
    margin-top: 60px;color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 350px;
}

















.main_header_artworks_li_active {
    color: #D5906E;
}

.main_header_contact_li_active {
    color: #D5906E;
}