@media (max-width: 834px) {

    .main_header {

        padding: 15px 4%;
    }



    .home_title {
        flex-direction: column;
    }

    .fa-bars {
        display: block;
    }

    .main_header_nav {
        width: 40%;
        height: 160px;
        padding: 25px 0;
        background-color: #B53B1B;
        position: fixed;
        top: 108px;
        left: -50%;

    }

    .show {
        left: 0;
    }

    .main_header_ul {
        flex-direction: column;
        height: 100%;

        align-items: center;
        justify-content: space-between;
    }




    .home_section {
        height: 100%;
    }

    .home_section_div {
        margin-top: 200px;
    }

    .homepage_section_Earthly_Artistry_div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homepage_section_Earthly_Artistry_h2,
    .homepage_section_Earthly_Artistry_p {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /* .home_cards_img_2,
    .home_cards_img_4,
    .home_cards_img_5 {

        width: 440px;
        height: 240px;
    }

    .home_page_card_div {
        width: 36%;
    }

    .home_page_cards {
        margin: 64px 20px;
       row-gap: 40px; 

    } */

    /* .section_our_gallery_cards {
        padding: 96px 0;
    } */

    .home_cards_columns_div_bottom {
        flex-direction: column;
        gap: 50px;

    }

    .home_cards_img_3,
    .home_cards_img_2 {
        display: none;

    }

    .home_cards_img_1 {

        width: 100%;
        height: 322px;
    }


    .home_cards_img_4,
    .home_cards_img_5 {

        width: 100%;
        height: 260px;
        
    }







    .latest_products_div4 {
        display: none;
    }


    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

    }

    .footer_title {
        display: flex;


    }

    .footer_title_div {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .footer_left_side {
        align-items: center;
        width: 100%;
    }

    .footer_socialmedia,
    .footer_right_side {
        justify-content: center;
        align-items: center;
    }


    .artwork_select {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .artworks_section {
        height: 420px;
    }

    .artworks_section_div {
        row-gap: 20px;
    }



    .artwork_buttons_style,
    .artwork_button_style_active {
        width: 40px;
        height: 40px;
    }

    .dissapear1 {
        display: none;
    }

    .search_for_anything_div {
        width: 100%;
    }

    .artwork_Sort_box_p {
        font-size: 20px;
    }


    .contact_section {
        height: 700px;
        padding: 128px 20px 56px 20px;

    }


    .contact_section_box {
        width: 100%;
    }

    .contact_section_box_h2 {
        font-size: 30px;
    }

    .name_email_div {
        margin-top: 10px;
    }

    .contact_page_information {
        margin: 64px auto;
    }

    .contact_page_information_title {
        margin-bottom: 30px;
    }

    .contact_page_information_div {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .contact_page_contact_information_list {
        /* margin: auto; */

        /* width: 100%; */
        /* padding-left: 10%; */
    }

    .contact_page_iframe {
        width: 100%;

    }

}