@media (max-width: 834px) {

    .main_header {

        padding: 15px 4%;
    }

    .main_header_ul {
        flex-direction: column;

    }

    .home_title {
        flex-direction: column;
    }

    .main_header_right_side {
        width: 20%;
    }

    .home_section {
        height: 100%;
    }

    .home_section_div {
        margin-top: 200px;
    }

    .homepage_section_Earthly_Artistry_div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homepage_section_Earthly_Artistry_h2,
    .homepage_section_Earthly_Artistry_p {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .home_cards_img_2,
    .home_cards_img_4,
    .home_cards_img_5 {

        width: 440px;
        height: 240px;

    }

    .home_page_cards {
        padding: 35px;
        gap: 25px;

    }



    .latest_products_div4 {
        display: none;
    }


    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

    }

    .footer_title {
        display: flex;


    }

    .footer_title_div {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .footer_left_side {
        align-items: center;
        width: 100%;
    }

    .footer_socialmedia,
    .footer_right_side {
        justify-content: center;
        align-items: center;
    }


    .artwork_select {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .artworks_section {
        height: 420px;
    }

    .artworks_section_div {
        row-gap: 20px;
    }



    .artwork_buttons_style,
    .artwork_button_style_active {
        width: 40px;
        height: 40px;
    }

    .dissapear1 {
        display: none;
    }

    .search_for_anything_div {
        width: 100%;
    }

    .artwork_Sort_box_p {
        font-size: 20px;
    }


    .contact_section {
        height: 700px;
        padding: 128px 20px 56px 20px;

    }


    .contact_section_box {
        width: 100%;
    }

    .contact_section_box_h2 {
        font-size: 30px;
    }

    .name_email_div {
        margin-top: 10px;
    }

    .contact_page_information {
        margin: 64px auto;
    }

    .contact_page_information_title {
        margin-bottom: 30px;
    }

    .contact_page_information_div {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .contact_page_contact_information_list {
        margin-right: none;
        margin: auto;
    }

}